{% extends "base.html" %} {% block title %}People{% endblock %} {% block content
    %}
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Height</th>
            <th scope="col">Mass</th>
            <th scope="col">Birth Year</th>
            <th scope="col">Gender</th>
            <th scope="col">Home World</th>
            <th scope="col">Specie</th>
            <th scope="col">Eye Color</th>
          </tr>
        </thead>
        <tbody>
          {% for person in people %}
            <tr>
              <th scope="row">{{ person.Name | title }}</th>
              <td>{{ person.Height or "unknown" }}</td>
              <td>{{ person.Mass or "unknown" }}</td>
              <td>{{ person.BirthYear or "unknown" }}</td>
              <td>{{ person.Gender | title or "unknown" }}</td>
              <td>{{ person.HomeWorldName | title or "unknown" }}</td>
              <td>{{ person.SpecieName | title or "unknown" }}</td>
              <td>{{ person.ColorOfEyes | title or "unknown" }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
{% endblock %}
